


*{
    box-sizing: border-box;
  }
  
  body{
    
    background-color: #fae6f9;
    font-family: sans-serif;
    margin:10;


    color: rgb(211, 40, 154);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100vh;
    background-image:url('https://i.pcmag.com/imagery/articles/05alT89V9Qp9dv0iYSN0FV9-3.1579028468.fit_lim.fit_lim.size_956x.jpg');
    /*background-position: center;*/
    text-decoration:none;
  }
  
  
  
  
  /*header{
    color: rgb(211, 40, 154);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100vh;
    /*background-image:url('https://i.pcmag.com/imagery/articles/05alT89V9Qp9dv0iYSN0FV9-3.1579028468.fit_lim.fit_lim.size_956x.jpg');
    background-position: center;
    text-decoration:none;
  }*/
  
  
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#750c5e;
    color: white;
    text-align: center;
 }